form .filter {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    box-sizing: border-box;
    border-radius: 9px
}

form .filter:hover {
    border-color: #757575
}

form .filter:active, form .filter:focus {
    border-color: #0d97ef;
    box-shadow: 0 0 5px lighter(#0d97ef, 50%)
}

form .select2-container--default .select2-selection--single {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 9px
}

select {
    cursor: pointer;
    background: 0 0;
    border: 0 solid transparent;
    border-bottom: 1px solid #e3e3e3;
    border-radius: 0;
    box-shadow: none;
    color: #4e575f;
    display: block;
    outline: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 25px 8px 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
}
