
.sidebar .widget {
    margin-bottom: 3rem
}

.sidebar .b-categories-list .title, .sidebar .block-title {
    color: #121212;
}

@media (max-width: 768px) {
    .sidebar {
        margin-top: 25px;
    }
}

@media (min-width: 1024px) {
    .sidebar {
        position: sticky;
        top: 1em;
    }
}